<!-- <div class="content-wrapper">
    <div class="content-header row"> 
        <div class="content-header-left">
           <div class="row breadcrumb-top">
                 <div class="col-12">
                  <h2 class="content-header-title float-left mb-0">Events</h2>
                  <div class="breadcrumb-wrapper vs-breadcrumbs d-sm-block d-none col-12">
                      <nav class="" aria-label="breadcrumb">
                          <ol class="breadcrumb">
                              <li class="breadcrumb-item">
                              <a href="/">Home</a></li>
                              <li class="text-primary breadcrumb-item">Events</li>
                              <li class="active breadcrumb-item" aria-current="page">Create Event</li>
                            </ol>
                        </nav>
                     </div>
                 </div>
           </div>
        </div>
    </div>
</div>
 -->

<app-breadcrumb [title]="'Crate Events'" [items]="['Home', 'Events','Create Events']" ></app-breadcrumb>
<!-- -----form------------- -->


