<!-- <div class="content-wrapper">
   <div class="card">
        <div class="flex-md-row flex-column align-md-items-center align-items-start border-bottom card-header">
             <h4 class="card-title">Events </h4>
            <div class="d-flex mt-md-0 mt-1">
                <button type="button" class="ml-2 btn btn-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" 
                    stroke-linecap="round" stroke-linejoin="round"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                     <span class="align-middle ml-50">Add Event</span>
                </button>
            </div>
        </div>
        <hr>
        <div class="justify-content-end mx-0 row">
            <div class="d-flex align-items-center justify-content-end mt-1 col-sm-12 col-md-4">
                <label for="search-input" class="mr-1 mt-2">Search</label>
            <input id="search-input" type="text" class="dataTable-filter mb-50 form-control-sm form-control" value="">
        </div>
    </div>
    ----------table------------
    <div class="card-body custom-datatable">
        <ngx-datatable class="bootstrap" [rows]="company"
            [columns]="[{name:'Name'},{name:'Gender'},{name:'Company'}]" [columnMode]="'force'"
            [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10">
        </ngx-datatable>
    </div>

    
    </div>
</div>
      -->
      <app-breadcrumb></app-breadcrumb>
<!-- Container-fluid starts -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Events</h5>
                    <div>
                    <div class="d-flex mt-md-0 mt-1">
                        <button type="button" class="ml-2 btn btn-primary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" 
                            stroke-linecap="round" stroke-linejoin="round"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                             <span class="align-middle ml-50" routerLink="/dashboard/CreateEvents">Add Event</span>
                        </button>
                    </div>
                    </div>
                </div>
                <hr>
                <div class="justify-content-end mx-0 row">
                    <div class="d-flex align-items-center justify-content-end mt-1 col-sm-12 col-md-4">
                        <label for="search-input" class="mr-1 mt-2" style="color:#b1b1b1;">Search</label>
                    <input id="search-input" type="text" class="dataTable-filter mb-50 form-control-sm form-control" value="">
                </div>
                <div class="card-body custom-datatable">
                    <ngx-datatable class="bootstrap" [rows]="Events"
                        [columns]="[{name:'Title'},{name:'Base Url'},{name:'Booking Start Date Time'},{name:'Booking End Date Time'},{name:'Event From'},{name:'Event To'},{name:'Is Active'},{name:'Actions'}]" [columnMode]="'force'"
                        [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10">
                        <div class="d-flex action-table">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="view">
                            <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                            <circle cx="12" cy="12" r="3"></circle>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path>
                                <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <polyline points="3 6 5 6 21 6"></polyline>
                                    <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
                                    <line x1="10" y1="11" x2="10" y2="17"></line>
                                    <line x1="14" y1="11" x2="14" y2="17"></line>

                                  
                                </svg></div>
                    </ngx-datatable>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends -->